<div class="main-container arena">
  <div class="player-card">
    <app-player></app-player>
  </div>

  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        Item Store
      </ng-template>
      <div class="town-card">
        <app-store></app-store>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Trainer
      </ng-template>
      <div class="town-card">
        <h1>Terrible sushi restaurants</h1>
        <p>...</p>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Healer
      </ng-template>
      <div class="town-card">
        <h1>Terrible sushi restaurants</h1>
        <p>...</p>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Tavern
      </ng-template>
      <div class="town-card">
        <h1>Terrible sushi restaurants</h1>
        <p>...</p>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Arena
      </ng-template>
      <div class="town-card">
        <h1>Terrible sushi restaurants</h1>
        <p>...</p>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>