.additional-info {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.health-bar {
  position: relative;
  padding: 1px;
  height: 20px;
  width: 100%;
  background-color: #212121;
  margin-bottom: 1rem;

  .health {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, green, darkgreen);
    transition: width 0.4s;
  }

  h4 {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.player-card-content {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  .portrait-image {
    height: 200px;
    width: 180px;
    overflow: hidden;
    margin-right: 1rem;
  
    img {
      max-width: 100%;
      vertical-align: middle;
    }
  }
  
  .player-details {
    flex-grow: 1;
  }
}

.player-card-tab {
  padding: 1rem;
}
