.character-create-container {
  display: flex;

  .character-create-section {
    width: calc(100% / 3);
    padding: 2rem;
  }
}

.selected-portrait {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;

  .portrait-image {
    text-align: center;
    height: 300px;
    width: 250px;
    border-radius: 50%;
    overflow: hidden;

    img {
      max-width: 100%;
      vertical-align: middle
    }
  }
}

.class-controls {
  margin-bottom: 2rem;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 2rem;
}

.stats-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-center {
  text-align: center;
}
