<div class="main-container character-create">
  <mat-card>
    <mat-card-title>Who are you?</mat-card-title>
    <mat-card-subtitle>Use the below options to customise your character</mat-card-subtitle>
  
    <form class="character-create-container" id="character-create" (ngSubmit)="create()">
  
      <!-- Name and portrait -->
      <div class="character-create-section">
        <h2 class="mat-h2">Profile</h2>
        <h3 class="mat-h3">Choose a name and face</h3>
        <mat-form-field class="full-width">
          <input matInput placeholder="Name" name="name" [(ngModel)]="name" maxlength="12" required>
          <mat-error>Please enter a valid name.</mat-error>
        </mat-form-field>
        <div class="selected-portrait">
          <button mat-icon-button color="primary" type="button" (click)="changePortrait(-1)">
            <mat-icon>arrow_back</mat-icon>
          </button>
          <div class="portrait-image">
            <img src="assets/img/portraits/{{ selectedPortrait }}" alt="A character portrait">
          </div>
          <button mat-icon-button color="primary" type="button" (click)="changePortrait(1)">
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </div>

      <mat-divider class="hidden-lg"></mat-divider>
      <mat-divider class="hidden-sm" [vertical]="true"></mat-divider>
  
      <!-- Class -->
      <div class="character-create-section">
        <h2 class="mat-h2">Class</h2>
        <h3 class="mat-h3">Choose your class</h3>
        <div class="class-controls">
          <mat-radio-group class="radio-group" name="class" [(ngModel)]="selectedClass">
            <mat-radio-button class="radio-button" *ngFor="let class of classes" [value]="class">{{ class.name }}</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="selected-class" *ngIf="selectedClass">
          <div class="class-detail">
            <h3 class="mat-h3">Description</h3>
            <p class="mat-body">{{ selectedClass.description }}</p>  
          </div>
          <div class="class-skill">
            <h3 class="mat-h3">Starting Skill</h3>
            <p class="mat-body" *ngFor="let skill of getStartingSkills()">{{ skill.name | titlecase }}: {{ skill.description }}</p>
          </div>
        </div>
      </div>

      <mat-divider class="hidden-lg"></mat-divider>
      <mat-divider class="hidden-sm" [vertical]="true"></mat-divider>
  
      <!-- Roll stats -->
      <div class="character-create-section">
        <div class="stats-header">
          <h2 class="mat-h2">Stats</h2>
          <button mat-icon-button color="primary" type="button" (click)="rollStats(selectedClass, true)">
            <mat-icon>refresh</mat-icon>
          </button>  
        </div>
        <h3 class="mat-h3">Roll for your base statistics</h3>
        <table class="stats-table full-width" *ngIf="selectedClass && currentStats[selectedClass.name]">
          <tbody>
            <tr *ngFor="let stat of stats">
              <td>
                <span class="mat-h3">{{ stat.name }}</span><br>
                <span class="mat-small">{{ stat.description }}</span>
              </td>
              <td>{{ currentStats[selectedClass.name][stat.key] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" form="character-create">Confirm</button>
    </mat-card-actions>
  </mat-card>
</div>