<mat-card>
  <mat-card-title>{{ enemy.name }}</mat-card-title>
  <mat-card-content>
    <div class="health-bar">
      <div class="health" [style.width.%]="(enemy.health / enemy.maxHealth) * 100">
        <h4 class="mat-h4">{{ enemy.health }} / {{ enemy.maxHealth }}</h4>
      </div>
    </div>
    <div class="enemy-card-content">
      <div class="enemy-details hidden-sm">
        <table class="stats-table">
          <thead>
            <tr>
              <th></th>
              <th matTooltip="Base value" matTooltipPosition="above">B</th>
              <th matTooltip="Fight modifiers" matTooltipPosition="above">F</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let stat of enemy.getDetailedStats()">
              <td>{{ stat.name.slice(0, 3) }}</td>
              <td>{{ stat.base }}</td>
              <td [ngClass]="{'text-primary': stat.battle > 0, 'text-warn': stat.battle < 0}">
                <ng-container *ngIf="stat.battle > 0">+</ng-container>
                <ng-container *ngIf="stat.battle">{{ stat.battle }}</ng-container>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="enemy-image">
        <img src="assets/img/monsters/{{ enemy.portrait }}" [alt]="enemy.name">
      </div>
    </div>
  </mat-card-content>
</mat-card>