.arena {
  padding: 1rem;

  .enemy-card {
    margin-bottom: 1rem;
  }

  .controls {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {

  .arena {
    display: flex;
    justify-content: center;
  
    .player-card {
      max-width: 400px;
      margin-right: 2rem;
    }

    .enemy-card {
      width: 800px;
    }
  }
}

@media screen and (max-width: 1023px) {

  .arena {

    .player-card {
      margin-bottom: 1rem;
    }
  }
}
