<h1 mat-dialog-title>Level Up</h1>
<p>Points remaining: {{ getPoints() }}</p>
<form mat-dialog-content id="levelup" (ngSubmit)="levelup()">
  <table class="full-width">
    <tbody>
      <tr *ngFor="let stat of stats">
        <td>
          <mat-form-field>
            <mat-label>{{ stat.name }}</mat-label>
            <input 
              matInput
              [id]="stat.key"
              type="number"
              [name]="stat.key"
              [min]="data.player.baseStats[stat.key]"
              [max]="tempStats[stat.key] + getPoints()"
              [(ngModel)]="tempStats[stat.key]">
          </mat-form-field>
        </td>
      </tr>
    </tbody>
  </table>
</form>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button color="primary" type="submit" form="levelup" cdkFocusInitial>Confirm</button>
</div>