<h1 mat-dialog-title>Level Up</h1>
<form mat-dialog-content id="levelup" (ngSubmit)="levelup()">
  <p>Points remaining: {{ tempPoints }}</p>
  <table class="full-width">
    <tbody>
      <tr *ngFor="let stat of tempStats | keyvalue: originalOrder">
        <td>
          <label [for]="stat.key">{{ stat.key | titlecase }}</label>
        </td>
        <td>
          <mat-form-field>
            <input 
              matInput
              [id]="stat.key"
              type="number"
              [name]="stat.key"
              [min]="data.player.baseStats[stat.key]"
              [(ngModel)]="tempStats[stat.key]"
              (change)="updatePoints($event)">
          </mat-form-field>
        </td>
      </tr>
    </tbody>
  </table>
</form>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button color="primary" type="submit" form="levelup" cdkFocusInitial>Confirm</button>
</div>