/* You can add global styles to this file, and also import other style files */
@import "./variables";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-primary {
  color: $primary;
}

.text-warn {
  color: $warn;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.full-width {
  width: 100%;
}

.main-container {
  margin: 2rem;
}

.stats-table {
  border-collapse: collapse;

  th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }

  td:first-child {
    text-transform: uppercase;
  }

  td:not(:first-child) {
    text-align: center;
    width: 40px;
  }
}